    body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


nav {
    background-color: #F0F8FF; /* Azul cielo */
    color: #C2B280; /* Ocre */
    padding: 20px;
}


main {
    background-color: #98FB98; /* Verde claro */
    color: #0066CC; /* Azul intenso */
    padding: 20px;
}